<h1>Profile</h1>
<hr>

<!--<button (click)= "loadAccountDetails(d)"> Click </button>-->
<div class='account'>
  Name: {{name}}
  <br>
  <div class='pic'>Profile Pic:
    <a data-toggle="modal" class="picture" data-target="#myModal"> <img src="{{lg.getData('picUrl')}}"  height= "100px" width="100px"></a>
    <p class="img_desc">Update Profile Picture </p>
  </div>
  <div class='detail'>
    <u><b>Details</b></u>
    <br> Nick Name: {{nickName}}
    <br> Email: {{email}}
    <br> Role: {{role}}
    <br>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Update Modal content-->


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Profile Picture </h4>
      </div>
      <form [formGroup]="uploadPicForm" (submit)="submitAccountDetails(d)">
        <div class="modal-body">
          <div class="row text-center">
            <loader [condition]="loader"></loader>
          </div>
          <div class="form-group">
            <div>Attachment</div>
            <label for="exampleInputFile" class="exampleInputFile">Choose a file...<span class="glyphicon glyphicon-circle-arrow-up custom"></span></label>

            <br>
            <input type="file" class="form-control-file" accept="image/*" formControlName="imgFile" id="exampleInputFile" aria-describedby="fileHelp"
              (change)="getFile($event)" style="display:none;">
          </div>

        </div>
        <div class="modal-footer">
          <button type="Submit" class="btn btn-default">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>