<h1>Complaint</h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{status}} Complaints</div>

  <!-- Table -->
  <div class="panel-body">
    <div class="form-group row">
      <div class="col-lg-12">
        <input class="form-control" type="search" placeholder="Search by complaint title .,. " id="example-search-input" (keyup)="searchComplaints($event)">
      </div>
    </div>

    <div style="text-align: center" *ngIf="EmptyComplaints"><b>No Complaint is added to View</b></div>
    <!--cards -->
    <div class="container card" *ngFor="let c of complaints; let i = index;">
      <div class="row">
        <span class="glyphicon glyphicon-resize-full expand" (click)="seletToExpand(c)" data-toggle="modal" data-target="#myModal-card"></span>
      </div>
      <!--<div class="row">
        <div class="col-sm-6" *ngIf="!complaintStatus">
          <span [style.background]="c.statusColor" class="badge">{{c.statusName}}</span>
        </div>
        <div class="col-sm-6">{{c.priorityName}}</div>
      </div>-->
      <div class="row">
        <img class="image" [attr.src]="fileUrl + c.studentPicUrl">
      </div>
      <div class="row name">{{c.studentName}}</div>
      <div class="row class">{{c.studentStandardName}}</div><hr class="style-line">
      <div class="row title">{{c.title}}</div><hr class="style-line">
      <div class="row">
        <div class="col-sm-6 col-xs-6 edit" *ngIf="!(complaintStatus == 4 || complaintStatus == 5)">
          <a [ngClass]="{'disabled-click' : c.statusId == 4}" (click)="selectComplaint(c,in)" data-toggle="modal" data-target="#myModal"
              class="action"><i class="glyphicon glyphicon-pencil"></i>
          </a>
        </div>
        <div class="col-sm-6 col-xs-6 comment">
          <a onclick="$('.panel.panel-chat').show();" (click)="getComplaintCommentById(c)" class="action"><i class="glyphicon glyphicon-comment"></i>
          </a>
        </div>
      </div>
    </div>
    <!--end cards-->
<div class="modal fade" id="myModal-card" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedComplaint" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">{{selectedComplaint.title}}</h4>
      </div>
      <div class="modal-body card-modal" >
        <div class="row first-row">
          <div class="col-sm-6">
              <div class="badge">{{selectedComplaint.statusName}}</div>
          </div>
          <div class="col-sm-6">
          <div class="row badge" *ngIf="selectedComplaint.assignedEmployeeName"><span class="empName">@{{selectedComplaint.assignedEmployeeName}}</span></div>
          </div>
        </div>
        <div class="row modal-heading">
          <div class="col-sm-4 coloumn-middle">
            <div class="align-middle">
              <label class="heading">Comments</label>
              <div>4</div>
            </div>
          </div>
          
          <div class="col-sm-4 coloumn-middle" style="float:right"> 
            <div class="align-middle"> 
              <div>{{selectedComplaint.priorityName}}</div><label class="heading">Priority</label>
            </div>
          </div>
          <div class="col-sm-4"><img  class="modal-image" [attr.src]="fileUrl + selectedComplaint.studentPicUrl"></div>
        </div>
        <div class="row modal-name">{{selectedComplaint.studentName}}
          <div class="modal-class">{{selectedComplaint.studentStandardName}}</div>
        </div>
        <div class="row modal-description">
          <div class="row " ><label class="" >Description : </label><span > {{selectedComplaint.description}}</span></div>
          <div class="row" ><label class="" >Root Cause : </label><span > {{selectedComplaint.rca}}</span></div>
        </div>
        <hr class="style-line">
        <div class="row complaint-category">
          <div class="col-sm-2 col-xs-2"><img src="https://cdn4.iconfinder.com/data/icons/hr-recruitment-management-part-3/360/opinion_feedback_comment_employee_staff_complain-128.png" class="complaint-icon"></div>
          <div class="col-sm-5 col-xs-5">
              <label class="heading">Complaint-Category</label>
              <div class="result">{{selectedComplaint.againstCategoryName}}</div>
          </div>
          <div class="col-sm-5 col-xs-5" >
            <label class="heading">Complaint-Against</label>
            <div class="result">{{selectedComplaint.againstEmployeeNam}}<div *ngIf="!selectedComplaint.againstEmployeeNam">-</div></div>
          </div>
         </div><hr class="style-line">
        <div class="row">
          <div class="col-sm-2 col-xs-2"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="col-sm-5 col-xs-5" ><label class="heading">Created At</label><div class="result">{{selectedComplaint.createdAt | date: "shortDate"}}</div></div>
          <div class="col-sm-5 col-xs-5"><label class="heading">Closed On</label><div class="result"*ngIf="selectedComplaint.closedOn">{{selectedComplaint.closedOn | date: "shortDate"}}</div><div *ngIf="!selectedComplaint.closedOn" style="font-weight:700">-</div></div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-4 col-xs-4"> 
            <button [ngClass]="{'disabled-click' : selectedComplaint.statusId == 4}"(click)="selectComplaint(c,in)" data-toggle="modal" data-target="#myModal"
              class="btn btn-danger modal-btn " data-dismiss="modal">Edit<i class="glyphicon glyphicon-pencil icon"></i></button>
          </div>
          <div class="col-sm-4 col-xs-4">
            <button onclick="$('.panel.panel-chat').show();"  (click)="getComplaintCommentById(c)" class="btn btn-danger modal-btn" data-dismiss="modal" >Comment<i class="glyphicon glyphicon-comment icon"></i></button>
          </div>
          <div class="col-sm-4 col-xs-4">
            <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Close<i class="glyphicon glyphicon-remove icon"></i></button>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div class="row text-center">
      <loader [condition]="loader"></loader>
    </div>
  </div>
  <div class="panel-footer">
    <!--<nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}"><a class="page-link" (click)="previousComplaint()">Previous</a></li>
        <li class="page-item"><a class="page-link active">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item" [ngClass]="{'disabled': EmptyComplaints}"><a class="page-link" (click)="nextComplaint()">Next</a></li>
      </ul>
    </nav>-->
    <button (click)="previousComplaint()" [disabled]="currentPage === 1" type="button" class="btn btn-danger">Previous</button>
    <button (click)="nextComplaint()" type="button" [disabled]="EmptyComplaints || noMore" class="btn btn-danger">Next</button>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Edit Complaint</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form1" [formGroup]="editForm" (submit)="updateComplaint()">
        <div class="modal-body">
          <div class="form-group">
            <label for="sel1">Assigned To:</label>
            <select class="form-control" formControlName="assignedTo">
              <option *ngFor="let emp of employees" [value]="emp.id">{{emp.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <p><b>Priority:</b></p>
            <div class="radio" *ngFor="let prio of priorities;">
              <label><input type="radio" name="priorityId" [value]="prio.id" formControlName="priorityId">{{prio.name}}</label>
            </div>
          </div>
          <div class="form-group">
            <p><b>Status:</b></p>
            <div class="checkbox">
              <label><input type="checkbox" name="progress" formControlName="statusId">In Progress</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-right" (click)="resetComplaints()">Reset</button>
          <button type="submit" class="btn btn-default pull-right">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--End of Edit-->

<!-- Close Modal -->
<div class="modal fade" id="myModal3" role="dialog">
  <div class="modal-dialog">

    <!-- Close Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Close Complaint </h4>
      </div>
      <form [formGroup]="closeForm" (submit)="closeComplaint()">
        <div class="modal-body">
          <div class="form-group">
            <label for="rootCause">Root Cause</label>
            <textarea class="form-control" formControlName="rca" id="rootCause" rows="3" required></textarea>
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Comment</label>
            <textarea class="form-control" formControlName="comment" id="commentClose" rows="3" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="Submit" [disabled]= "closeForm.invalid" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- chat -->
<div id="chat" class="panel panel-chat">
  <div class="panel-heading">
    <a href="#" class="chatMinimize" onclick="return false"><span>{{complaintTitleOfCommentModel | uppercase}}</span></a>
    <a href="#" class="chatClose" onclick="return false"><i class="glyphicon glyphicon-remove"></i></a>
    <div class="clearFix"></div>
  </div>
  <div class="panel-body">
    <div class="row text-center">
      <loader [condition]="!comments"></loader>
    </div>
    <div *ngFor="let c of comments">
      <div *ngIf="c.employeeId == currentUser">
        <div class="myMsg">
          <img src="http://www.clker.com/cliparts/f/8/a/6/1376432218623075512little%20girl%20dreaming-hi.png" class="myImg" />
          <div class="myText">
            <span class="myText-style">
              {{c.comment}}
            </span>
          </div>
        </div>
        <div class="myMsgDate">
          me: {{c.createdAt|date}}
        </div>
      </div>
      <div *ngIf="c.employeeId != currentUser">
        <div class="msg">
          <img src="http://www.kpop-map.com/wp-content/uploads/2016/01/sm-rookies-kun-profile.jpg" class="img" />
          <div class="text">
            <span class="text-style">
              {{c.comment}}
            </span>
          </div>
        </div>
        <div class="msgDate">
          <span *ngIf="c.employeeName">{{c.employeeName}}</span>
          <span *ngIf="c.parentName">{{c.parentName}}</span>
          <span>: {{c.createdAt|date}}</span>
        </div>
      </div>
    </div>
    <div class="clearFix"></div>
  </div>
  <div class="panel-footer" *ngIf="!closedOn">
    <form [formGroup]="commentForm" (submit)="submitComment()">
      <textarea name="comment" formControlName="comment" cols="0" rows="0"></textarea>
      <span class="send-button">
        <button type="submit" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-share-alt"></i></button>
    </span>
    </form>
  </div>
</div>


