<h1>Circulars
  <button type="button" class="btn btn-success btn-circle" [routerLink]="['/add-circular']">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
</h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Circulars</div>

  <!-- Table -->
  <div class="panel-body">
    <div style="text-align: center" *ngIf="EmptyCirculars"><b>No Circular added to View</b></div>

    <div class="row text-center">
      <loader [condition]="loader"></loader>
    </div>

      <div class="container card" *ngFor="let circular of circulars">
      <div class="row">
        <span class="glyphicon glyphicon-resize-full expand" (click)="seletToExpand(circular)" data-toggle="modal" data-target="#myModal-card"></span>
      </div>
      <!--<div class="row">
        <div class="col-sm-6" *ngIf="!complaintStatus">
          <span [style.background]="c.statusColor" class="badge">{{c.statusName}}</span>
        </div>
        <div class="col-sm-6">{{c.priorityName}}</div>
      </div>-->
      <div class="row">
        <img class="image" [attr.src]="fileUrl + circular.employeePicUrl">
      </div>
      <div class="row name">{{circular.employeeName}}</div>
      <div class="row class"><label class="heading">For</label>
      <div  class="class">{{circular.standards}}</div>
      <span *ngIf="!circular.standards">School</span>
      </div><hr class="style-line">
      <div class="row title">{{circular.title}}</div>
      <!--<div class="row">
        <div class="col-sm-6 edit" *ngIf="!(complaintStatus == 4 || complaintStatus == 5)">
          <a [ngClass]="{'disabled-click' : c.statusId == 4}" (click)="selectComplaint(c,in)" data-toggle="modal" data-target="#myModal"
              class="action"><i class="glyphicon glyphicon-pencil"></i>
          </a>
        </div>
        <div class="col-sm-6 comment">
          <a onclick="$('.panel.panel-chat').show();" (click)="getComplaintCommentById(c)" class="action"><i class="glyphicon glyphicon-comment"></i>
          </a>
        </div>
      </div>-->
    </div>
    <!--end cards-->
  </div>


  <div class="panel-footer">
    <!--<nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}"><a class="page-link" (click)="previousCircular()">Previous</a></li>
        <li class="page-item"><a class="page-link active">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item" [ngClass]="{'disabled': EmptyCirculars}"><a class="page-link" (click)="nextCircular()">Next</a></li>
      </ul>
    </nav>-->
    <button (click)="previousCircular()" class="btn btn-danger nav-btn right" [disabled]="currentPage === 1">Previous</button>
    <button (click)="nextCircular()" class="btn right btn-danger nav-btn" [disabled]="EmptyCirculars || noMore">Next</button>
  </div>
</div>

<div class="modal fade" id="myModal-card"tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedCircular">
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">{{selectedCircular.title}}</h4>
      </div>
      <div class="modal-body card-modal" >
        <div class="row modal-heading">
          <img  class="modal-image" [attr.src]="fileUrl + selectedCircular.employeePicUrl" style="margin-top:10px;">           
        </div>
        <div class="row modal-name">{{selectedCircular.employeeName}}
          <div class="modal-class" *ngIf="selectedCircular.standards"><label>For : </label><span>{{selectedCircular.standards}}</span><span *ngIf="!selectedCircular.standards"></span></div>
        </div>
        <div class="row modal-description">{{selectedCircular.description}}</div><hr class="style-line">
        <div class="row">
          <div class="col-sm-6" ><label class="heading">Created At</label><div class="result">{{selectedCircular.createdAt | date: "shortDate"}}</div></div>
          <div class="col-sm-6" ><label class="heading">Start date</label><div class="result">{{selectedCircular.start | date: "shortDate"}}</div></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->