<div class="tab-pane">
  <div class="panel panel-default">

    <div class="panel-body" id="accordion">
      <div style="text-align: center" *ngIf="EmptyComplaints" ><b>No Appreciation</b></div>
      <div class="card" *ngFor="let c of complaints; let i = index;">
      <div class="row">
        <span class="glyphicon glyphicon-resize-full expand" data-toggle="modal" (click)="seletToExpand(c)" data-target="#myModal-card" style="margin-bottom:10px;"></span>
      </div>
      <div class="row" >
          <img class="image" [attr.src]="fileUrl + c.studentPicUrl" >
      </div>
      <div class="row">
        <div class="name">
          {{c.studentName}}
        </div>
      </div>
      <div class="row">
        <div class="class">{{c.standardName}}</div>
      </div>
      <hr class="style-line">
      <div class="row" style="text-align:center">
        <div class="title">
          {{c.title}}
        </div>
      </div>
      <hr class="style-line">
      <div class="row">
        <div class="date">
          <label>Date :</label> 
          <span>{{c.createdAt|date:"shortDate"}}</span>
        </div>
      </div>
    </div>
      <div class="row text-center">
        <loader [condition]="loader"></loader>
      </div>
    </div>
    

    <div class="panel-footer">
      <!--<nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': currentPage === 1}"><a class="page-link" (click)="previousHomework()" >Previous</a></li>
          <li class="page-item"><a class="page-link active" >1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item" [ngClass]="{'disabled': EmptyHomeworks}"><a class="page-link" (click)="nextHomework()" >Next</a></li>
        </ul>
      </nav>-->
    <button (click)="previousComplaint()" [disabled]="currentPage === 1" type="button" class="btn btn-danger">Previous</button>
    <button (click)="nextComplaint()" type="button" [disabled]="EmptyComplaints || noMore" class="btn btn-danger">Next</button>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal-card" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedComplaint" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">{{selectedComplaint.title}}</h4>
      </div>
      <div class="modal-body " >
        <div class="card-modal">
 
        <div class="row">
          <div class="modal-heading">
            <img  class="modal-image" [attr.src]="fileUrl + selectedComplaint.studentPicUrl">
          </div>
        </div>
        <div class="row">
          <div class="modal-name">{{selectedComplaint.studentName}}</div>
        </div>
        <div class="row">
          <div class="modal-class">{{selectedComplaint.StandardName}}</div>
        </div>
        <div class="row">
          <div class="modal-description" >
            <label class="" >Description : </label>
            <span > {{selectedComplaint.description}}</span>
          </div>
        </div>
        <hr class="style-line">
        <div class="row">
          <span class="custom-icon"><i class="glyphicon glyphicon-calendar"></i></span>
          <span class="custom-date" >
            <label class="heading">Created At</label>
            <div class="result">{{selectedComplaint.createdAt | date: "shortDate"}}</div>
          </span>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-4 col-xs-4"> 
            <button [ngClass]="{'disabled-click' : selectedComplaint.statusId == 4}"(click)="selectComplaint(c,in)" data-toggle="modal" data-target="#myModal"
              class="btn btn-danger modal-btn " data-dismiss="modal">Edit<i class="glyphicon glyphicon-pencil icon"></i></button>
          </div>
          <div class="col-sm-4 col-xs-4">
            <button onclick="$('.panel.panel-chat').show();"  (click)="getComplaintCommentById(c)" class="btn btn-danger modal-btn" data-dismiss="modal" >Comment<i class="glyphicon glyphicon-comment icon"></i></button>
          </div>
          <div class="col-sm-4 col-xs-4">
            <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Close<i class="glyphicon glyphicon-remove icon"></i></button>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->