<div class="tab-pane">
  <div class="panel panel-default">
    <!--<div class="panel-heading">Current Homework</div>-->
    <div class="panel-body" id="accordion">
      <div style="text-align: center" *ngIf="EmptyHomeworks" ><b>No Homework</b></div>
      <div class="container card" *ngFor="let a of homeworks; let i = index;">
      <div class="row">
        <span class="glyphicon glyphicon-resize-full expand" (click)="seletToExpand(a,i)" data-toggle="modal" data-target="#myModal-card" style="margin-bottom:10px;"></span>
      </div>
      <!--<div class="row">
        <div class="col-sm-6" *ngIf="!complaintStatus">
          <span [style.background]="c.statusColor" class="badge">{{c.statusName}}</span>
        </div>
        <div class="col-sm-6">{{c.priorityName}}</div>
      </div>-->
      <div class="row" >
        <img class="image" [attr.src]="fileUrl + a.fileTimestamp" style="border-radius:0px !important;width:100%">
      </div>
      <!--<div class="row name">{{circular.employeeName}}</div>-->
      <div class="row class"><label class="heading">For</label>
        <span  class="class">{{ a.standardName }}</span>
      </div><hr class="style-line">
      <div class="row title" style="text-align:center"><label >Subject : </label><span>{{a.subjectName}}</span></div>
        <div class="row">
          <label class="Due Date :"></label>
          <span class="badge" style="background-color:gray">Due Date: {{a.dueDate}} {{a.dueMonth}}</span>
        </div>
      <!--<div class="row">
        <div class="col-sm-6 edit" *ngIf="!(complaintStatus == 4 || complaintStatus == 5)">
          <a [ngClass]="{'disabled-click' : c.statusId == 4}" (click)="selectComplaint(c,in)" data-toggle="modal" data-target="#myModal"
              class="action"><i class="glyphicon glyphicon-pencil"></i>
          </a>
        </div>
        <div class="col-sm-6 comment">
          <a onclick="$('.panel.panel-chat').show();" (click)="getComplaintCommentById(c)" class="action"><i class="glyphicon glyphicon-comment"></i>
          </a>
        </div>
      </div>-->
    </div>
      <div class="row text-center">
        <loader [condition]="loader"></loader>
      </div>
    </div>
    

    <div class="panel-footer">
      <!--<nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': currentPage === 1}"><a class="page-link" (click)="previousHomework()" >Previous</a></li>
          <li class="page-item"><a class="page-link active" >1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item" [ngClass]="{'disabled': EmptyHomeworks}"><a class="page-link" (click)="nextHomework()" >Next</a></li>
        </ul>
      </nav>-->
      <button type="button" (click)="previousHomework()" [disabled]="currentPage === 1" class="btn btn-danger">Previous</button>
      <button type="button" (click)="nextHomework()" [disabled]="EmptyHomeworks || noMore" class="btn btn-danger">Next</button>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal-card"tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedHomework">
      <div class="modal-header">
        <h4 class="modal-title" id="gridSystemModalLabel">{{selectedHomework.subjectName}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body card-modal">
        <div class="modal-heading">
          <div class="row" style="padding:0;margin:0">
            <img class="image" [attr.src]="fileUrl + selectedHomework.fileTimestamp">
          </div>
        </div>
        <div class=" row modal-class" ><label>For : </label><span>{{selectedHomework.standardName}}</span></div>
      </div>
      <div class="row modal-description">{{selectedHomework.description}}</div><hr class="style-line">
      <div class="row modal-date">
        <div class="col-sm-6" ><label class="heading">Created At</label><div class="result">{{selectedHomework.createdAt | date: "shortDate"}}</div></div>
        <div class="col-sm-6" ><label class="heading">Due date</label><div class="result">{{selectedHomework.dueDate | date: "shortDate"}}</div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>