<div class="tab-pane">
  <div class="panel panel-default">
    <!--<div class="panel-heading">Current Homework</div>-->
    <div class="panel-body" id="accordion">
      <div style="text-align: center" *ngIf="EmptyHomeworks" ><b>No Homework</b></div>
      <!--<table class="table table-hover" *ngIf="!EmptyHomeworks" >
        <thead>
          <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>Created on</th>
            <th>Standard</th>
            <th>Due Date</th>            
          </tr>
        </thead>
        <tbody *ngFor="let a of homeworks; let i = index;" class="container-border">
          <tr data-toggle="collapse" [attr.data-target]="'#' + a.id" data-parent="#accordion">
            <td class="action"><a>{{a.id}}</a></td>
            <td>{{a.subjectName}}</td>
            <td>{{a.createdAt | date: 'shortDate'}}</td>
            <td>{{ a.standardName }}</td>
            <td>{{a.dueDate}} {{a.dueMonth}}</td>
          </tr>
          <tr [attr.id]="a.id" class="collapse">
            <td colspan="5" style="border:none;">
              <b>Description : </b>{{a.description}}
              <br>
              <span *ngIf="a.fileOriginalName">
              <b>Attachment  : </b><a href="{{fileUrl + a.fileTimestamp}}">{{a.fileOriginalName}}</a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>-->

            <div class="container card" *ngFor="let a of homeworks; let i = index;">
      <div class="row">
        <span class="glyphicon glyphicon-resize-full expand" (click)="seletToExpand(c)" data-toggle="modal" data-target="#myModal-card" style="margin-bottom:10px;"></span>
      </div>
      <!--<div class="row">
        <div class="col-sm-6" *ngIf="!complaintStatus">
          <span [style.background]="c.statusColor" class="badge">{{c.statusName}}</span>
        </div>
        <div class="col-sm-6">{{c.priorityName}}</div>
      </div>-->
      <div class="row">
        <img class="image" src="https://www.artconversation.com/core/images/default/default_avatar_large.png" style="border-radius:0px !important;width:100%">
      </div>
      <!--<div class="row name">{{circular.employeeName}}</div>-->
      <div class="row class"><label class="heading">For</label>
        <span  class="class">{{ a.standardName }}</span>
      </div><hr class="style-line">
      <div class="row title" style="text-align:center"><label >Subject : </label><span>{{a.subjectName}}</span></div>
        <div class="row">
          <label class="Due Date :"></label>
          <span class="badge" style="background-color:gray">Due Date: {{a.dueDate}} {{a.dueMonth}}</span>
        </div>
      <!--<div class="row">
        <div class="col-sm-6 edit" *ngIf="!(complaintStatus == 4 || complaintStatus == 5)">
          <a [ngClass]="{'disabled-click' : c.statusId == 4}" (click)="selectComplaint(c,in)" data-toggle="modal" data-target="#myModal"
              class="action"><i class="glyphicon glyphicon-pencil"></i>
          </a>
        </div>
        <div class="col-sm-6 comment">
          <a onclick="$('.panel.panel-chat').show();" (click)="getComplaintCommentById(c)" class="action"><i class="glyphicon glyphicon-comment"></i>
          </a>
        </div>
      </div>-->
    </div>
      <div class="row text-center">
        <loader [condition]="loader"></loader>
      </div>
    </div>
    

    <div class="panel-footer">
      <!--<nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': currentPage === 1}"><a class="page-link" (click)="previousHomework()" >Previous</a></li>
          <li class="page-item"><a class="page-link active" >1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item" [ngClass]="{'disabled': EmptyHomeworks}"><a class="page-link" (click)="nextHomework()" >Next</a></li>
        </ul>
      </nav>-->
      <button type="button" (click)="previousHomework()" [disabled]="currentPage === 1" class="btn btn-danger">Previous</button>
      <button type="button" (click)="nextHomework()" [disabled]="EmptyHomeworks || noMore" class="btn btn-danger">Next</button>
    </div>
  </div>
</div>